:root {
    --primary-color: #004aad;
    --secondary-color: #004aad;
    --dark-color: #292929;
    --white-color: #e7e7e7;
}

body {
    color: var(--dark-color);
}

nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}

footer {
    padding-right: 1rem;
}

footer .social > a {
    color: var(--white-color);
    opacity: 0.75;
}

footer .social > a:hover {
    opacity: 0.9;
    color: #0d6efd;
}

.bsicon {
    color: purple;
}

.jsicon {
    color: rgb(226,211,4);
}

.html5icon {
    color: orangered;
}

.cssicon {
    color: rgb(11,82,214);
}

.checklist > li i {
    color: var(--secondary-color);
}

code[class*="language-"],
        pre[class*="language-"] {
            white-space: pre-wrap;
            word-break: break-all;
            word-wrap: break-word;
            font-size: 1.5rem;
        }

.crop {
    margin-top: -170px;
    margin-bottom: -180px;
}

main > .container {
    padding: 60px 15px 0;
}

.darkBG {
    background-color: #e9e7e7;
}